.carts{
    border: 0.1rem solid grey;
    width: 50%;
    margin-left: 25%;
}

.item{
    border-bottom: 0.1rem solid grey;
    margin: 1%;
}

img {
    width:15rem;
    height:10rem
  }

.card-body{
    padding: 5rem;
    padding-top:0;
}