<div class="Screen">
<nav class="navbar navbar-expand-lg" >
<span class="title" routerLink="home">SHOPPINGHUT</span>
<button type="button" class="btn btn-dark loginBtn" on-click="openModal(undomod)">Login</button>
<span class="material-icons cartIcon" [routerLink]="['/cart',userId]">add_shopping_cart</span>
</nav>
</div>

<ng-template #undomod>
    <div class="modal-body text-center">
      <p>Login into the portal</p>
      <input class="form-control" type="email" placeholder="Enter your registered email" name="email" [(ngModel)]="email" >
      <br>
      <button class="btn btn-dark mod-button" on-click="login(email)">Submit</button>
      <button class="btn btn-dark mod-button" on-click="decline()">No</button>
    </div>
  </ng-template>


<router-outlet></router-outlet>